chardet==5.1.0
click==8.1.3
daproli==0.22
et-xmlfile==1.1.0
fastobo==0.12.2
jellyfish==1.0.0
joblib==1.3.1
lxml==4.9.2
networkx==3.1
nltk==3.8.1
numpy==1.24.4
openpyxl==3.1.2
pandas==1.5.3
Pillow==10.0.0
preon==0.1.0
pronto==2.5.4
python-dateutil==2.8.2
pytz==2023.3
rdkit==2023.3.2
regex==2023.6.3
six==1.16.0
tqdm==4.65.0
